/*classes e id's no CSS*/
ul{
    background-color: azure;
    color: blue;
}

.sometext{
    background-color: black;
    color: aqua;
}
#exclusivetext{
    background-color: powderblue;
    color:black;
    padding: 10px;
}




/*odem das regras*/

h2{
    border-bottom: 1px solid blue;
}

.classe{
    border-bottom: 2px solid powderblue;
}
#identificador{
    border-bottom: 1px solid pink;
}







/*nomes das cores e diferentes utilizações*/
.hexadecimal{
    background-color: aliceblue;
    color: #55a389
}

.hex{
    color:#333
}

.hex-2{
    background-color: #112;
}

.rgb{
    color: rgb(111, 333, 100);
}

.rgb-2{
    color: rgb(10, 222,250);
    background-color: rgb(80, 55, 64);
}

.rgba{
    color: rgba(200, 199, 45, .7);
}

.rgba-2{
    color: rgba(50, 70, 155, .2);
    background-color: transparent;
}

.hsl{
    color: hsl(100, 50%, 30%);
    background-color: transparent;
}

.hsl-2{
    color: hsl(232, 100%, 40%);
    background-color: transparent;
}





/*modificando a cor de funco */
.background{
    background-color: #55a389;
    color: #00caff;
}

.background-color{
    background-color: transparent;
    color:rgb(164, 0, 123);
}

/*background-opacity*/
.opacity{
    background-color: gold;
    opacity: .2;
}
.inside-div{
    background-color: transparent;
    color: rgb(35, 109, 117);
}

