html{
    background-color: black;
}

.container{
    background-color: aliceblue;
    position: relative;
    margin: 30px 50px;
    max-width: auto;
    padding: 40px 30px;
}
.cabecalho-main{
    text-align: center;
}
.paragrafo-main{
    text-align: center;
    font-style: italic;
}


.img-container figure{
    text-align: center;
    font-style: italic;
    margin: 30px 0px;
}
.img-container img{
    height: 200px;
    width: 700px;
}


.descricao{
    margin: 30px 0px;
    color: aliceblue;
    background-color: rgb(179, 187, 193);
    border-radius: 5px;
}


.album figcaption{
    font-style: italic;
    text-align: left;
    
}
.album a{
    text-decoration: none;
    color: #178bcf;
}
.album p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.album blockquote{
    color: aliceblue;
    background-color: rgb(179, 187, 193);
    border-radius: 5px;
}


.more a{
    text-decoration: none;
    color: #178bcf;
}

