*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(117, 122, 97);
    color: aliceblue;
}
main section .changes{
    width: auto;
    height: auto;
}
main section .chances h1{
    color: red;
}
main section .change_color_ball{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background-color: pink;
}
@media screen and (max-width: 500px){
    h1{
        color: blue;
    }
}
#min-width{
    color: goldenrod;
}
@media screen and (min-width: 800px){
    #min-width{
        color: black;
    }
}
main section h3{
    display: none;
}
@media screen and (orientation: landscape){
    main section h3{
        display: block;
    }
}