/*classes e id's no CSS*/
ul{
    background-color: azure;
    color: blue;
}

.sometext{
    background-color: black;
    color: aqua;
}
#exclusivetext{
    background-color: powderblue;
    color:black;
    padding: 10px;
}




/*odem das regras*/

h2{
    border-bottom: 1px solid blue;
}

.classe{
    border-bottom: 2px solid powderblue;
}
#identificador{
    border-bottom: 1px solid pink;
}







/*nomes das cores e diferentes utilizações*/
.hexadecimal{
    background-color: aliceblue;
    color: #55a389
}

.hex{
    color:#333
}

.hex-2{
    background-color: #112;
}

.rgb{
    color: rgb(111, 333, 100);
}

.rgb-2{
    color: rgb(10, 222,250);
    background-color: rgb(80, 55, 64);
}

.rgba{
    color: rgba(200, 199, 45, .7);
}

.rgba-2{
    color: rgba(50, 70, 155, .2);
    background-color: transparent;
}

.hsl{
    color: hsl(100, 50%, 30%);
    background-color: transparent;
}

.hsl-2{
    color: hsl(232, 100%, 40%);
    background-color: transparent;
}





/*modificando a cor de funco */
.background{
    background-color: #55a389;
    color: #00caff;
}

.background-color{
    background-color: transparent;
    color:rgb(164, 0, 123);
}

/*background-opacity*/
.opacity{
    background-color: gold;
    opacity: .2;
}
.inside-div{
    background-color: transparent;
    color: rgb(35, 109, 117);
}


.inlinebox{
    height: 40px;
    width: 50px;
    background-color: #4f8;
    margin: 10px;

    /*usando o "display" para mudar para span*/
    display: inline-block;
}

.block{
    background-color: red;
    margin: 20px;
    width: 50px;
    height: 40px;

    /*usando "display" para transformar para uma div*/ 
    display: block;
}

.invisible{
    background-color: transparent;
    color: #000;
    display: none;
}

.static{
    position: static;
    background-color: #4f8;
    color: #333;
    width: 120px;
    font-family: helvetica;
    font-size: 10px;
    margin: 10px;

}
.relativa{
    position: relative;
    background-color: black;
    color: white;
    width: 120px;
    font-family: helvetica;
    font-size: 10px;
    margin: 10px;
    left: 50px;
    top: 40px;

}

.absoluto{
    background-color: #333;
    color: #00caff;
    top: 0px;
    right: 50px;
}

.relativa-container{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1, .absolute-2{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    
}
.absolute-1{
    top: 10px;
    left: 10px;
}
.absolute-2{
    bottom: 10px;
    right: 10px;
}
.quadrado-1{
    width: 150px;
    height: 45px;
    position: absolute;
    right: 10px;
    top: 10px;

}
.quadrado-2{
    width: 150px;
    height: 45px;
    position: absolute;
    left: 10px;
    bottom: 10px;

}
.fixa{
    width: 100px;
    height: 100px;
    background-color: #851;
    border: 1px solid blue;
    margin-top: 50px;
    position: fixed;
    top: 50px;
    right: 30px;
}

.stick{
    width: 100px;
    height: 100px;
    background-color: #444;
    border: 1px solid blue;
    color: white;
    margin-top: 50px;
    position: sticky;
    top: 10px;
    
}

.z-index{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}
.absolute-3, .absolute-4, .absolute-5{
    width: 100px;
    height: 100px;
    background-color: gold;
    position: absolute;
}

.absolute-3{
    top: 5px;
    left: 5px;
    background-color: purple;
    z-index: 3;
}
.absolute-4{
    top: 30px;
    left: 30px;
    background-color: green;
    z-index: 2;
}
.absolute-5{
    top: 50px;
    left: 50px;
    background-color: red;
    z-index: 1;
}
